<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Marquesa Style</title>



    {{ 'slick.css' | asset_url | stylesheet_tag }}

    <!-- font Nimbus Sans -->
    <link rel="stylesheet" href="https://use.typekit.net/rnv4lta.css" />

    <!-- main style -->
    {{ 'style.css' | asset_url | stylesheet_tag }}

</head>

<body>
    <!-------------------------------------------------------->
    <!-- all the main content with out the slide panels -->
    <!-------------------------------------------------------->
    <div class="main index">
        <!-- header -->
        <div class="header">
            <!-- top line to advertisement -->
            <div class="header__ad">
                <div class="header__ad--text">ENVÍO GRATIS A PARTIR DE 50 €</div>
            </div>
            <!-- main content of the header -->
            <div class="header__content">
                <!-- header left side visible only on movile  -->
                <div class="header__content--list show-lg">
                    <!-- Menu -->
                    <button class="menu-btn" id="menu-btn-action" aria-controls="menu-panel" aria-expanded="false">
                        <div class="menu-btn__burger">
                            <div class="menu-btn__burger--line"></div>
                        </div>
                        <div class="menu-btn__text">Menú</div>
                    </button>
                </div>

                <!-- header center side  -->
                <div class="header__content--list">
                    <!-- logo -->

                    {% comment %}
                    <a href="/" class="header__content--list--logo">
                        <img src="./assets/la-marquesa-style.svg" alt="logo" />
                    </a>
                    {% endcomment %}
                    <a href="/" class="header__content--list--logo">
                        <img src="{{ 'la-marquesa-style.svg' | asset_url }}" alt="logo" />
                    </a>



                    <!-- Links hidden on movile view -->
                    <div class="header__content--list header__content--list--center" id="menu-panel"
                        aria-expanded="false">
                        <!-- Camisas -->
                        <a class="link" href="product-list.html">
                            <div class="link__text">Camisas</div>
                        </a>
                        <!-- Pantalones -->
                        <a class="link" href="product-list.html">
                            <div class="link__text">Pantalones</div>
                        </a>
                        <!-- VESTIDOS -->
                        <a class="link" href="product-list.html">
                            <div class="link__text">VESTIDOS</div>
                        </a>
                        <!-- CALZADO -->
                        <a class="link" href="product-list.html">
                            <div class="link__text">CALZADO</div>
                        </a>
                        <!-- accesorios -->
                        <a class="link" href="product-list.html">
                            <div class="link__text">accesorios</div>
                        </a>

                        <!-- panel menu footer -->
                        <div class="header__content--list--center--footer">
                            <!-- links - mi cuenta and favoritos -->
                            <div class="header__content--list--center--footer--links">
                                <!-- mi cuenta -->
                                <a class="link" href="index.html">
                                    <div class="link__text">MI CUENTA</div>
                                    <div class="link__icon">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3.19615 14.4846C4.04615 13.8731 4.94808 13.3894 5.90193 13.0337C6.85577 12.6779 7.88847 12.5 9 12.5C10.1115 12.5 11.1442 12.6779 12.0981 13.0337C13.0519 13.3894 13.9538 13.8731 14.8039 14.4846C15.4641 13.8013 15.9952 12.9942 16.3971 12.0635C16.799 11.1327 17 10.1115 17 9C17 6.78333 16.2208 4.89583 14.6625 3.3375C13.1042 1.77917 11.2167 1 9 1C6.78333 1 4.89583 1.77917 3.3375 3.3375C1.77917 4.89583 1 6.78333 1 9C1 10.1115 1.20096 11.1327 1.60288 12.0635C2.00481 12.9942 2.5359 13.8013 3.19615 14.4846ZM9.00058 9.5C8.15788 9.5 7.44711 9.21077 6.86827 8.6323C6.28942 8.05385 6 7.34328 6 6.50058C6 5.65788 6.28923 4.94711 6.86768 4.36827C7.44614 3.78942 8.15672 3.5 8.99942 3.5C9.84212 3.5 10.5529 3.78923 11.1317 4.3677C11.7106 4.94615 12 5.65672 12 6.49942C12 7.34212 11.7108 8.05289 11.1323 8.63172C10.5539 9.21057 9.84328 9.5 9.00058 9.5ZM9 18C7.74487 18 6.56987 17.7663 5.475 17.299C4.38013 16.8317 3.42757 16.1929 2.6173 15.3827C1.80705 14.5724 1.16827 13.6199 0.70095 12.525C0.23365 11.4301 0 10.2551 0 9C0 7.74487 0.23365 6.56987 0.70095 5.475C1.16827 4.38013 1.80705 3.42757 2.6173 2.6173C3.42757 1.80705 4.38013 1.16827 5.475 0.70095C6.56987 0.23365 7.74487 0 9 0C10.2551 0 11.4301 0.23365 12.525 0.70095C13.6199 1.16827 14.5724 1.80705 15.3827 2.6173C16.1929 3.42757 16.8317 4.38013 17.299 5.475C17.7663 6.56987 18 7.74487 18 9C18 10.2551 17.7663 11.4301 17.299 12.525C16.8317 13.6199 16.1929 14.5724 15.3827 15.3827C14.5724 16.1929 13.6199 16.8317 12.525 17.299C11.4301 17.7663 10.2551 18 9 18ZM9 17C9.9218 17 10.8289 16.8388 11.7212 16.5163C12.6135 16.1939 13.3846 15.7526 14.0346 15.1923C13.3846 14.6705 12.6327 14.258 11.7788 13.9548C10.925 13.6516 9.99872 13.5 9 13.5C8.00128 13.5 7.0718 13.6484 6.21155 13.9452C5.35128 14.242 4.60256 14.6577 3.96537 15.1923C4.61537 15.7526 5.38653 16.1939 6.27885 16.5163C7.17115 16.8388 8.0782 17 9 17ZM9 8.5C9.56153 8.5 10.0353 8.30705 10.4212 7.92115C10.807 7.53525 11 7.06153 11 6.5C11 5.93847 10.807 5.46475 10.4212 5.07885C10.0353 4.69295 9.56153 4.5 9 4.5C8.43847 4.5 7.96475 4.69295 7.57885 5.07885C7.19295 5.46475 7 5.93847 7 6.5C7 7.06153 7.19295 7.53525 7.57885 7.92115C7.96475 8.30705 8.43847 8.5 9 8.5Z"
                                                fill="var(--color-black)" />
                                        </svg>
                                    </div>
                                </a>
                                <!-- favoritos -->
                                <a class="link" href="favorites.html">
                                    <div class="link__text">FAVORITOS</div>
                                    <div class="link__icon">
                                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                                fill="var(--color-black)" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="header__content--list--center--footer--divider"></div>
                            <div class="socials socials-header">
                                <!-- instagram -->
                                <a href="instagram.com">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                            fill="var(--color-black)" />
                                        <path
                                            d="M10.8883 4.90689C12.8722 4.90689 13.1074 4.91342 13.8913 4.95044C14.6165 4.98311 15.0107 5.10506 15.272 5.20741C15.6182 5.34242 15.8665 5.50357 16.1256 5.76271C16.3848 6.02186 16.5459 6.27011 16.6809 6.61636C16.7833 6.87768 16.9031 7.27184 16.9379 7.997C16.9727 8.78096 16.9815 9.01615 16.9815 11C16.9815 12.9839 16.9749 13.219 16.9379 14.003C16.9052 14.7282 16.7833 15.1223 16.6809 15.3836C16.5459 15.7299 16.3848 15.9781 16.1256 16.2373C15.8665 16.4964 15.6182 16.6576 15.272 16.7926C15.0107 16.8949 14.6165 17.0147 13.8913 17.0496C13.1074 17.0844 12.8722 17.0931 10.8883 17.0931C8.90449 17.0931 8.6693 17.0866 7.88534 17.0496C7.16018 17.0169 6.76603 16.8949 6.50471 16.7926C6.15846 16.6576 5.9102 16.4964 5.65106 16.2373C5.39192 15.9781 5.23077 15.7299 5.09576 15.3836C4.99341 15.1223 4.87363 14.7282 4.83879 14.003C4.80395 13.219 4.79524 12.9839 4.79524 11C4.79524 9.01615 4.80177 8.78096 4.83879 7.997C4.87146 7.27184 4.99341 6.87768 5.09576 6.61636C5.23077 6.27011 5.39192 6.02186 5.65106 5.76271C5.9102 5.50357 6.15846 5.34242 6.50471 5.20741C6.76603 5.10506 7.16018 4.98529 7.88534 4.95044C8.6693 4.91342 8.90449 4.90689 10.8883 4.90689ZM10.8883 3.56763C8.86965 3.56763 8.61704 3.57634 7.82437 3.61336C7.03388 3.65038 6.49382 3.77451 6.01909 3.95961C5.53129 4.14689 5.11535 4.40167 4.70378 4.81543C4.29002 5.22919 4.03741 5.64294 3.84578 6.13292C3.66285 6.60547 3.53655 7.14553 3.49953 7.9382C3.46251 8.73087 3.4538 8.98348 3.4538 11.0022C3.4538 13.0209 3.46251 13.2735 3.49953 14.0662C3.53655 14.8566 3.66067 15.3967 3.84578 15.8714C4.03523 16.3571 4.29002 16.773 4.70378 17.1846C5.11753 17.5983 5.53129 17.8509 6.02126 18.0426C6.49382 18.2255 7.03388 18.3518 7.82655 18.3888C8.61922 18.4258 8.87183 18.4345 10.8905 18.4345C12.9092 18.4345 13.1618 18.4258 13.9545 18.3888C14.745 18.3518 15.285 18.2277 15.7598 18.0426C16.2454 17.8531 16.6613 17.5983 17.0729 17.1846C17.4867 16.7708 17.7393 16.3571 17.9309 15.8671C18.1138 15.3945 18.2401 14.8545 18.2772 14.0618C18.3142 13.2691 18.3229 13.0165 18.3229 10.9978C18.3229 8.97913 18.3142 8.72652 18.2772 7.93385C18.2401 7.14335 18.116 6.60329 17.9309 6.12856C17.7415 5.64294 17.4867 5.22701 17.0729 4.81543C16.6592 4.40167 16.2454 4.14906 15.7554 3.95743C15.2829 3.77451 14.7428 3.6482 13.9501 3.61118C13.1596 3.57634 12.907 3.56763 10.8883 3.56763Z"
                                            fill="var(--color-white)" />
                                        <path
                                            d="M10.8883 7.18262C8.78033 7.18262 7.07086 8.89208 7.07086 11.0001C7.07086 13.108 8.78033 14.8175 10.8883 14.8175C12.9963 14.8175 14.7058 13.108 14.7058 11.0001C14.7058 8.89208 12.9963 7.18262 10.8883 7.18262ZM10.8883 13.4782C9.52074 13.4782 8.41013 12.3698 8.41013 11.0001C8.41013 9.63031 9.52074 8.52188 10.8883 8.52188C12.2559 8.52188 13.3665 9.63031 13.3665 11.0001C13.3665 12.3698 12.2559 13.4782 10.8883 13.4782Z"
                                            fill="var(--color-white)" />
                                        <path
                                            d="M14.856 7.92521C15.3491 7.92521 15.7489 7.52547 15.7489 7.03237C15.7489 6.53927 15.3491 6.13953 14.856 6.13953C14.3629 6.13953 13.9632 6.53927 13.9632 7.03237C13.9632 7.52547 14.3629 7.92521 14.856 7.92521Z"
                                            fill="var(--color-white)" />
                                    </svg>
                                </a>
                                <!-- facebook -->
                                <a href="facebook.com">
                                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_142_4719)">
                                            <rect x="0.741089" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                                fill="var(--color-black)" />
                                            <path
                                                d="M15.8677 14.1475L16.3505 11.0001H13.3307V8.95765C13.3307 8.09658 13.7526 7.2572 15.1051 7.2572H16.4781V4.57765C16.4781 4.57765 15.2321 4.36499 14.0407 4.36499C11.5537 4.36499 9.92807 5.87234 9.92807 8.60123V11.0001H7.16345V14.1475H9.92807V21.7561C10.4825 21.8431 11.0505 21.8884 11.6294 21.8884C12.2082 21.8884 12.7763 21.8431 13.3307 21.7561V14.1475H15.8677Z"
                                                fill="var(--color-white)" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_142_4719">
                                                <rect x="0.741089" y="0.111694" width="21.7767" height="21.7767"
                                                    rx="7.35" fill="var(--color-white)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                                <!-- linkedin -->
                                <a href="linkedin.com">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.223389" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                            fill="var(--color-black)" />
                                        <path
                                            d="M5.51688 8.96432H7.89409V16.6147H5.51688V8.96432ZM6.70638 5.1615C7.46658 5.1615 8.08369 5.77861 8.08369 6.5406C8.08369 7.3026 7.46658 7.91971 6.70638 7.91971C5.94438 7.91971 5.32727 7.3026 5.32727 6.5406C5.32549 5.7804 5.94259 5.1615 6.70638 5.1615Z"
                                            fill="var(--color-white)" />
                                        <path
                                            d="M9.38586 8.96434H11.6665V10.009H11.6987C12.0153 9.40795 12.7898 8.77295 13.9489 8.77295C16.3565 8.77295 16.8019 10.3578 16.8019 12.4166V16.6147H14.4247V12.896C14.4247 12.007 14.4086 10.8675 13.1887 10.8675C11.9509 10.8675 11.7613 11.8335 11.7613 12.8316V16.6165H9.38586V8.96434Z"
                                            fill="var(--color-white)" />
                                    </svg>
                                </a>
                                <!-- pinterest -->
                                <a href="pinterest.com">
                                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.482178" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                            fill="var(--color-black)" />
                                        <path
                                            d="M11.3813 3.38904C7.17192 3.38904 3.75952 6.80144 3.75952 11.0109C3.75952 14.2403 5.76951 16.9994 8.60483 18.1101C8.53732 17.5068 8.47852 16.5792 8.63096 15.9215C8.77033 15.327 9.5238 12.1324 9.5238 12.1324C9.5238 12.1324 9.29515 11.6751 9.29515 11C9.29515 9.93945 9.90925 9.14896 10.6736 9.14896C11.3247 9.14896 11.6383 9.63676 11.6383 10.2226C11.6383 10.8759 11.2224 11.8536 11.0068 12.7595C10.8282 13.5174 11.3879 14.1358 12.1348 14.1358C13.4893 14.1358 14.5303 12.7073 14.5303 10.645C14.5303 8.82013 13.2193 7.54402 11.3465 7.54402C9.17755 7.54402 7.9058 9.17074 7.9058 10.8519C7.9058 11.5074 8.1584 12.2086 8.47199 12.5919C8.53514 12.6681 8.54385 12.7334 8.52425 12.8096C8.46546 13.0513 8.33697 13.5674 8.31302 13.6741C8.28035 13.8135 8.20196 13.844 8.05823 13.7765C7.10659 13.3344 6.51209 11.9407 6.51209 10.8236C6.51209 8.41944 8.25858 6.21129 11.549 6.21129C14.1927 6.21129 16.2484 8.09497 16.2484 10.6124C16.2484 13.243 14.5934 15.3575 12.2938 15.3575C11.5207 15.3575 10.7956 14.9568 10.5473 14.4821C10.5473 14.4821 10.1662 15.9367 10.0726 16.2939C9.90054 16.9559 9.43669 17.7856 9.12529 18.293C9.83738 18.5129 10.5952 18.6327 11.3813 18.6327C15.5908 18.6327 19.0032 15.2203 19.0032 11.0109C19.0032 6.80144 15.5908 3.38904 11.3813 3.38904Z"
                                            fill="var(--color-white)" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- header right side  -->
                <div class="header__content--list">
                    <!-- favoritos -->
                    <div class="icon-link hidden-lg">
                        <div class="icon-link__icon">
                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                    fill="var(--color-black)" />
                            </svg>
                        </div>

                        <div class="icon-link__text">favoritos</div>
                    </div>

                    <!-- Hola, User -->
                    <div class="icon-link hidden-lg">
                        <div class="icon-link__icon">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.19615 14.4846C4.04615 13.8731 4.94808 13.3894 5.90193 13.0337C6.85577 12.6779 7.88847 12.5 9 12.5C10.1115 12.5 11.1442 12.6779 12.0981 13.0337C13.0519 13.3894 13.9538 13.8731 14.8039 14.4846C15.4641 13.8013 15.9952 12.9942 16.3971 12.0635C16.799 11.1327 17 10.1115 17 9C17 6.78333 16.2208 4.89583 14.6625 3.3375C13.1042 1.77917 11.2167 1 9 1C6.78333 1 4.89583 1.77917 3.3375 3.3375C1.77917 4.89583 1 6.78333 1 9C1 10.1115 1.20096 11.1327 1.60288 12.0635C2.00481 12.9942 2.5359 13.8013 3.19615 14.4846ZM9.00058 9.5C8.15788 9.5 7.44711 9.21077 6.86827 8.6323C6.28942 8.05385 6 7.34328 6 6.50058C6 5.65788 6.28923 4.94711 6.86768 4.36827C7.44614 3.78942 8.15672 3.5 8.99942 3.5C9.84212 3.5 10.5529 3.78923 11.1317 4.3677C11.7106 4.94615 12 5.65672 12 6.49942C12 7.34212 11.7108 8.05289 11.1323 8.63172C10.5539 9.21057 9.84328 9.5 9.00058 9.5ZM9 18C7.74487 18 6.56987 17.7663 5.475 17.299C4.38013 16.8317 3.42757 16.1929 2.6173 15.3827C1.80705 14.5724 1.16827 13.6199 0.70095 12.525C0.23365 11.4301 0 10.2551 0 9C0 7.74487 0.23365 6.56987 0.70095 5.475C1.16827 4.38013 1.80705 3.42757 2.6173 2.6173C3.42757 1.80705 4.38013 1.16827 5.475 0.70095C6.56987 0.23365 7.74487 0 9 0C10.2551 0 11.4301 0.23365 12.525 0.70095C13.6199 1.16827 14.5724 1.80705 15.3827 2.6173C16.1929 3.42757 16.8317 4.38013 17.299 5.475C17.7663 6.56987 18 7.74487 18 9C18 10.2551 17.7663 11.4301 17.299 12.525C16.8317 13.6199 16.1929 14.5724 15.3827 15.3827C14.5724 16.1929 13.6199 16.8317 12.525 17.299C11.4301 17.7663 10.2551 18 9 18ZM9 17C9.9218 17 10.8289 16.8388 11.7212 16.5163C12.6135 16.1939 13.3846 15.7526 14.0346 15.1923C13.3846 14.6705 12.6327 14.258 11.7788 13.9548C10.925 13.6516 9.99872 13.5 9 13.5C8.00128 13.5 7.0718 13.6484 6.21155 13.9452C5.35128 14.242 4.60256 14.6577 3.96537 15.1923C4.61537 15.7526 5.38653 16.1939 6.27885 16.5163C7.17115 16.8388 8.0782 17 9 17ZM9 8.5C9.56153 8.5 10.0353 8.30705 10.4212 7.92115C10.807 7.53525 11 7.06153 11 6.5C11 5.93847 10.807 5.46475 10.4212 5.07885C10.0353 4.69295 9.56153 4.5 9 4.5C8.43847 4.5 7.96475 4.69295 7.57885 5.07885C7.19295 5.46475 7 5.93847 7 6.5C7 7.06153 7.19295 7.53525 7.57885 7.92115C7.96475 8.30705 8.43847 8.5 9 8.5Z"
                                    fill="var(--color-black)" />
                            </svg>
                        </div>

                        <div class="icon-link__text">Hola, Olga</div>
                    </div>
                    <!-- Mi cesta -->
                    <div class="icon-link panel-control" aria-controls="panel-shopping-cart">
                        <div class="icon-link__icon">
                            <div class="badge">3</div>
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.61538 18C1.15513 18 0.770833 17.8458 0.4625 17.5375C0.154167 17.2292 0 16.8449 0 16.3846V5.61538C0 5.15513 0.154167 4.77083 0.4625 4.4625C0.770833 4.15417 1.15513 4 1.61538 4H4C4 2.8859 4.38814 1.94071 5.16442 1.16442C5.94071 0.388142 6.8859 0 8 0C9.1141 0 10.0593 0.388142 10.8356 1.16442C11.6119 1.94071 12 2.8859 12 4H14.3846C14.8449 4 15.2292 4.15417 15.5375 4.4625C15.8458 4.77083 16 5.15513 16 5.61538V16.3846C16 16.8449 15.8458 17.2292 15.5375 17.5375C15.2292 17.8458 14.8449 18 14.3846 18H1.61538ZM1.61538 17H14.3846C14.5385 17 14.6795 16.9359 14.8077 16.8077C14.9359 16.6795 15 16.5385 15 16.3846V5.61538C15 5.46154 14.9359 5.32052 14.8077 5.1923C14.6795 5.0641 14.5385 5 14.3846 5H1.61538C1.46154 5 1.32052 5.0641 1.1923 5.1923C1.0641 5.32052 1 5.46154 1 5.61538V16.3846C1 16.5385 1.0641 16.6795 1.1923 16.8077C1.32052 16.9359 1.46154 17 1.61538 17ZM8 10C9.1141 10 10.0593 9.61186 10.8356 8.83557C11.6119 8.05929 12 7.1141 12 6H11C11 6.83333 10.7083 7.54167 10.125 8.125C9.54167 8.70833 8.83333 9 8 9C7.16667 9 6.45833 8.70833 5.875 8.125C5.29167 7.54167 5 6.83333 5 6H4C4 7.1141 4.38814 8.05929 5.16442 8.83557C5.94071 9.61186 6.8859 10 8 10ZM5 4H11C11 3.16667 10.7083 2.45833 10.125 1.875C9.54167 1.29167 8.83333 1 8 1C7.16667 1 6.45833 1.29167 5.875 1.875C5.29167 2.45833 5 3.16667 5 4Z"
                                    fill="var(--color-black)" />
                            </svg>
                        </div>

                        <div class="icon-link__text">Mi cesta</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- this is the main container -->
        <div class="container">
            <!-- section 1 -->
            <div class="section-1">
                <div class="section-1__carrousel">
                    <div class="section-1__carrousel--item">
                        <img src="./assets/index-section-1.jpg" alt="" />
                    </div>
                    <div class="section-1__carrousel--item">
                        <img src="./assets/index-section-4-1.jpg" alt="" />
                    </div>
                    <div class="section-1__carrousel--item">
                        <img src="./assets/index-section-4-2.jpg" alt="" />
                    </div>
                </div>
                <div class="section-1__title">
                    <div>DESCUBRE NUESTRA .NUEVA COLECCIÓN.</div>
                    <div>
                        <button type="submit" class="button button-big button-outline-white">
                            DESCUBRIR
                        </button>
                    </div>
                </div>
            </div>

            <!-- section 2 -->
            <div class="section-2">
                <div class="section-2__header">
                    <div class="title">LOS MÁS VENDIDOS</div>
                    <div class="sub-title">descubre nuestra nueva colección</div>
                </div>
                <div class="section-2__content">
                    <div class="list">
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product__img">
                                <a href="">
                                    <picture>
                                        <img src="./assets/image_1.jpg" alt="product" />
                                    </picture>
                                </a>
                                <div class="product__img--favorite">
                                    <svg class="favorite-empty" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6538L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0788 2.2814 10.1426 1.66345 9.33172C1.0455 8.52082 0.613775 7.78717 0.368275 7.13077C0.122758 6.47435 0 5.81409 0 5.14999C0 3.87819 0.43205 2.81024 1.29615 1.94614C2.16025 1.08204 3.2282 0.649994 4.5 0.649994C5.37948 0.649994 6.20448 0.874994 6.975 1.32499C7.74552 1.77499 8.42052 2.42948 9 3.28844C9.57948 2.42948 10.2545 1.77499 11.025 1.32499C11.7955 0.874994 12.6205 0.649994 13.5 0.649994C14.7718 0.649994 15.8398 1.08204 16.7038 1.94614C17.5679 2.81024 18 3.87819 18 5.14999C18 5.81409 17.8772 6.47435 17.6317 7.13077C17.3862 7.78717 16.9545 8.52082 16.3365 9.33172C15.7186 10.1426 14.8789 11.0788 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6538ZM9 15.3C10.6 13.8538 11.9167 12.6151 12.95 11.5836C13.9833 10.5522 14.8 9.65738 15.4 8.89904C16 8.14071 16.4167 7.46891 16.65 6.88364C16.8833 6.29839 17 5.72051 17 5.14999C17 4.14999 16.6667 3.31666 16 2.64999C15.3333 1.98333 14.5 1.64999 13.5 1.64999C12.7038 1.64999 11.9692 1.87724 11.2962 2.33172C10.6231 2.7862 10.0205 3.4705 9.48847 4.38462H8.51153C7.96666 3.45769 7.36089 2.77019 6.69423 2.32212C6.02756 1.87404 5.29615 1.64999 4.5 1.64999C3.51282 1.64999 2.68269 1.98333 2.00962 2.64999C1.33654 3.31666 1 4.14999 1 5.14999C1 5.72051 1.11667 6.29839 1.35 6.88364C1.58333 7.46891 2 8.14071 2.6 8.89904C3.2 9.65738 4.01667 10.549 5.05 11.574C6.08333 12.599 7.4 13.841 9 15.3Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                    <svg class="favorite-filled" width="18" height="17" viewBox="0 0 18 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 16.6539L8.2423 15.9692C6.61025 14.4782 5.26025 13.2019 4.1923 12.1404C3.12435 11.0789 2.2814 10.1426 1.66345 9.33173C1.0455 8.52083 0.613775 7.78718 0.368275 7.13078C0.122758 6.47436 0 5.8141 0 5.15C0 3.8782 0.43205 2.81025 1.29615 1.94615C2.16025 1.08205 3.2282 0.650002 4.5 0.650002C5.37948 0.650002 6.20448 0.875002 6.975 1.325C7.74552 1.775 8.42052 2.42948 9 3.28845C9.57948 2.42948 10.2545 1.775 11.025 1.325C11.7955 0.875002 12.6205 0.650002 13.5 0.650002C14.7718 0.650002 15.8398 1.08205 16.7038 1.94615C17.5679 2.81025 18 3.8782 18 5.15C18 5.8141 17.8772 6.47436 17.6317 7.13078C17.3862 7.78718 16.9545 8.52083 16.3365 9.33173C15.7186 10.1426 14.8789 11.0789 13.8173 12.1404C12.7558 13.2019 11.4026 14.4782 9.7577 15.9692L9 16.6539Z"
                                            fill="var(--color-primary)" />
                                    </svg>
                                </div>
                                <div class="product__img--add-cart">
                                    <!-- cart hover title -->
                                    <div class="product__img--add-cart--title">
                                        Añadir a MI cesta
                                    </div>
                                    <!-- sizes -->
                                    <div class="product__img--add-cart--sizes">
                                        <!-- xs -->
                                        <div class="product__img--add-cart--sizes--item disabled">
                                            xs
                                        </div>
                                        <!-- s -->
                                        <div class="product__img--add-cart--sizes--item">s</div>
                                        <!-- m -->
                                        <div class="product__img--add-cart--sizes--item">m</div>
                                        <!-- l -->
                                        <div class="product__img--add-cart--sizes--item">l</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__info">
                                <div class="product__info--name">vestido cupro drapeado</div>
                                <div class="product__info--price">69,90€</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- section 3 -->
            <div class="section-3">
                <!-- blusas -->
                <div class="section-3__item">
                    <picture>
                        <img src="./assets/index-section-3-1.jpg" alt="" class="section-3__item--background" />
                    </picture>
                    <picture>
                        <img src="./assets/index-section-3-1-md.jpg" alt="" class="section-3__item--background-md" />
                    </picture>
                    <div class="section-3__item--content">
                        <div class="section-3__item--content--title">blusas</div>
                        <a href="product-list.html" class="button button-big button-outline-white">
                            DESCUBRIR
                        </a>
                    </div>
                </div>
                <!-- VESTIDOS -->
                <div class="section-3__item">
                    <picture>
                        <img src="./assets/index-section-3-2.jpg" alt="" class="section-3__item--background" />
                    </picture>
                    <picture>
                        <img src="./assets/index-section-3-2-md.jpg" alt="" class="section-3__item--background-md" />
                    </picture>
                    <div class="section-3__item--content">
                        <div class="section-3__item--content--title">VESTIDOS</div>
                        <a href="product-list.html" type="submit" class="button button-big button-outline-white">
                            DESCUBRIR
                        </a>
                    </div>
                </div>
                <!-- ACCESORIOS -->
                <div class="section-3__item section-3__item--big">
                    <picture>
                        <img src="./assets/index-section-3-3.jpg" alt="" class="section-3__item--background" />
                    </picture>
                    <picture>
                        <img src="./assets/index-section-3-3-md.jpg" alt="" class="section-3__item--background-md" />
                    </picture>
                    <div class="section-3__item--content">
                        <div class="section-3__item--content--title">ACCESORIOS</div>
                        <a href="product-list.html" type="submit" class="button button-big button-outline-white">
                            DESCUBRIR
                        </a>
                    </div>
                </div>
                <!-- LA MARQUESA STYLE PV.23 -->
                <div class="section-3__item section-3__item--big">
                    <picture>
                        <img src="./assets/index-section-3-4.jpg" alt="" class="section-3__item--background" />
                    </picture>
                    <picture>
                        <img src="./assets/index-section-3-4-md.jpg" alt="" class="section-3__item--background-md" />
                    </picture>
                    <div class="section-3__item--content">
                        <div class="section-3__item--content--title">
                            LA MARQUESA <br />
                            STYLE PV.23
                        </div>
                        <a href="product-list.html" type="submit" class="button button-big button-outline-white">
                            DESCUBRIR
                        </a>
                    </div>
                </div>
            </div>

            <!-- section 4 -->
            <div class="section-4">
                <div class="section-4__header">
                    <div class="title">#lamarquesastyle</div>
                    <div class="sub-title">
                        Estamos deseando ver como combinas nuestras prendas. comparte tu
                        look con @lamarquesastyle y #lamarquesastyle
                    </div>
                </div>
                <div class="section-4__content">
                    <div class="section-4__content--item">
                        <img src="./assets/index-section-4-1.jpg" alt="" />
                    </div>
                    <div class="section-4__content--item">
                        <img src="./assets/index-section-4-2.jpg" alt="" />
                    </div>
                    <div class="section-4__content--item">
                        <img src="./assets/index-section-4-3.jpg" alt="" />
                    </div>
                    <div class="section-4__content--item">
                        <img src="./assets/index-section-4-4.jpg" alt="" />
                    </div>
                </div>
            </div>

            <div class="marquee">
                <div class="marquee__inner">
                    <span>la marquesa style - by noelia picazo //</span>
                </div>
            </div>
        </div>

        <!-- suscribe by email -->
        <div class="suscribe">
            <div class="suscribe__title">NO TE PIERDAS NADA</div>
            <div class="suscribe__description">
                SUSCRÍBETE A NUESTRO BOLETÍN Y ENTÉRATE DE TODAS NUESTRAS NOVEDADES
                CONSIGUE UN 10% DE DESCUENTO EN TU PRIMER PEDIDO
            </div>
            <div class="suscribe__inputs">
                <div class="suscribe__input">
                    <input type="email" placeholder="CORREO ELECTRÓNICO" />
                    <div class="suscribe__input--button">
                        <button type="submit" class="button button-big button-fill">
                            enviar
                        </button>
                    </div>
                </div>
                <label class="suscribe__check">
                    <input type="checkbox" /> HE LEÍDO Y ACEPTO LA POLÍTICA DE
                    PRIVACIDAD
                </label>
            </div>
            <div class="suscribe__img">
                <img src="./assets/icon-suscribe.svg" alt="icon suscribe" />
            </div>
        </div>

        <footer class="footer">
            <div class="footer__logo">
                <img src="./assets/la-marquesa-style-footer.svg" alt="logo" />
                <div class="socials socials-footer">
                    <!-- instagram -->
                    <a href="instagram.com">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.111694" width="21.7767" height="21.7767" rx="7.35" fill="var(--color-black)" />
                            <path
                                d="M10.8883 4.90689C12.8722 4.90689 13.1074 4.91342 13.8913 4.95044C14.6165 4.98311 15.0107 5.10506 15.272 5.20741C15.6182 5.34242 15.8665 5.50357 16.1256 5.76271C16.3848 6.02186 16.5459 6.27011 16.6809 6.61636C16.7833 6.87768 16.9031 7.27184 16.9379 7.997C16.9727 8.78096 16.9815 9.01615 16.9815 11C16.9815 12.9839 16.9749 13.219 16.9379 14.003C16.9052 14.7282 16.7833 15.1223 16.6809 15.3836C16.5459 15.7299 16.3848 15.9781 16.1256 16.2373C15.8665 16.4964 15.6182 16.6576 15.272 16.7926C15.0107 16.8949 14.6165 17.0147 13.8913 17.0496C13.1074 17.0844 12.8722 17.0931 10.8883 17.0931C8.90449 17.0931 8.6693 17.0866 7.88534 17.0496C7.16018 17.0169 6.76603 16.8949 6.50471 16.7926C6.15846 16.6576 5.9102 16.4964 5.65106 16.2373C5.39192 15.9781 5.23077 15.7299 5.09576 15.3836C4.99341 15.1223 4.87363 14.7282 4.83879 14.003C4.80395 13.219 4.79524 12.9839 4.79524 11C4.79524 9.01615 4.80177 8.78096 4.83879 7.997C4.87146 7.27184 4.99341 6.87768 5.09576 6.61636C5.23077 6.27011 5.39192 6.02186 5.65106 5.76271C5.9102 5.50357 6.15846 5.34242 6.50471 5.20741C6.76603 5.10506 7.16018 4.98529 7.88534 4.95044C8.6693 4.91342 8.90449 4.90689 10.8883 4.90689ZM10.8883 3.56763C8.86965 3.56763 8.61704 3.57634 7.82437 3.61336C7.03388 3.65038 6.49382 3.77451 6.01909 3.95961C5.53129 4.14689 5.11535 4.40167 4.70378 4.81543C4.29002 5.22919 4.03741 5.64294 3.84578 6.13292C3.66285 6.60547 3.53655 7.14553 3.49953 7.9382C3.46251 8.73087 3.4538 8.98348 3.4538 11.0022C3.4538 13.0209 3.46251 13.2735 3.49953 14.0662C3.53655 14.8566 3.66067 15.3967 3.84578 15.8714C4.03523 16.3571 4.29002 16.773 4.70378 17.1846C5.11753 17.5983 5.53129 17.8509 6.02126 18.0426C6.49382 18.2255 7.03388 18.3518 7.82655 18.3888C8.61922 18.4258 8.87183 18.4345 10.8905 18.4345C12.9092 18.4345 13.1618 18.4258 13.9545 18.3888C14.745 18.3518 15.285 18.2277 15.7598 18.0426C16.2454 17.8531 16.6613 17.5983 17.0729 17.1846C17.4867 16.7708 17.7393 16.3571 17.9309 15.8671C18.1138 15.3945 18.2401 14.8545 18.2772 14.0618C18.3142 13.2691 18.3229 13.0165 18.3229 10.9978C18.3229 8.97913 18.3142 8.72652 18.2772 7.93385C18.2401 7.14335 18.116 6.60329 17.9309 6.12856C17.7415 5.64294 17.4867 5.22701 17.0729 4.81543C16.6592 4.40167 16.2454 4.14906 15.7554 3.95743C15.2829 3.77451 14.7428 3.6482 13.9501 3.61118C13.1596 3.57634 12.907 3.56763 10.8883 3.56763Z"
                                fill="var(--color-white)" />
                            <path
                                d="M10.8883 7.18262C8.78033 7.18262 7.07086 8.89208 7.07086 11.0001C7.07086 13.108 8.78033 14.8175 10.8883 14.8175C12.9963 14.8175 14.7058 13.108 14.7058 11.0001C14.7058 8.89208 12.9963 7.18262 10.8883 7.18262ZM10.8883 13.4782C9.52074 13.4782 8.41013 12.3698 8.41013 11.0001C8.41013 9.63031 9.52074 8.52188 10.8883 8.52188C12.2559 8.52188 13.3665 9.63031 13.3665 11.0001C13.3665 12.3698 12.2559 13.4782 10.8883 13.4782Z"
                                fill="var(--color-white)" />
                            <path
                                d="M14.856 7.92521C15.3491 7.92521 15.7489 7.52547 15.7489 7.03237C15.7489 6.53927 15.3491 6.13953 14.856 6.13953C14.3629 6.13953 13.9632 6.53927 13.9632 7.03237C13.9632 7.52547 14.3629 7.92521 14.856 7.92521Z"
                                fill="var(--color-white)" />
                        </svg>
                    </a>
                    <!-- facebook -->
                    <a href="facebook.com">
                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_142_4719)">
                                <rect x="0.741089" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                    fill="var(--color-black)" />
                                <path
                                    d="M15.8677 14.1475L16.3505 11.0001H13.3307V8.95765C13.3307 8.09658 13.7526 7.2572 15.1051 7.2572H16.4781V4.57765C16.4781 4.57765 15.2321 4.36499 14.0407 4.36499C11.5537 4.36499 9.92807 5.87234 9.92807 8.60123V11.0001H7.16345V14.1475H9.92807V21.7561C10.4825 21.8431 11.0505 21.8884 11.6294 21.8884C12.2082 21.8884 12.7763 21.8431 13.3307 21.7561V14.1475H15.8677Z"
                                    fill="var(--color-white)" />
                            </g>
                            <defs>
                                <clipPath id="clip0_142_4719">
                                    <rect x="0.741089" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                        fill="var(--color-white)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <!-- linkedin -->
                    <a href="linkedin.com">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.223389" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                fill="var(--color-black)" />
                            <path
                                d="M5.51688 8.96432H7.89409V16.6147H5.51688V8.96432ZM6.70638 5.1615C7.46658 5.1615 8.08369 5.77861 8.08369 6.5406C8.08369 7.3026 7.46658 7.91971 6.70638 7.91971C5.94438 7.91971 5.32727 7.3026 5.32727 6.5406C5.32549 5.7804 5.94259 5.1615 6.70638 5.1615Z"
                                fill="var(--color-white)" />
                            <path
                                d="M9.38586 8.96434H11.6665V10.009H11.6987C12.0153 9.40795 12.7898 8.77295 13.9489 8.77295C16.3565 8.77295 16.8019 10.3578 16.8019 12.4166V16.6147H14.4247V12.896C14.4247 12.007 14.4086 10.8675 13.1887 10.8675C11.9509 10.8675 11.7613 11.8335 11.7613 12.8316V16.6165H9.38586V8.96434Z"
                                fill="var(--color-white)" />
                        </svg>
                    </a>
                    <!-- pinterest -->
                    <a href="pinterest.com">
                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.482178" y="0.111694" width="21.7767" height="21.7767" rx="7.35"
                                fill="var(--color-black)" />
                            <path
                                d="M11.3813 3.38904C7.17192 3.38904 3.75952 6.80144 3.75952 11.0109C3.75952 14.2403 5.76951 16.9994 8.60483 18.1101C8.53732 17.5068 8.47852 16.5792 8.63096 15.9215C8.77033 15.327 9.5238 12.1324 9.5238 12.1324C9.5238 12.1324 9.29515 11.6751 9.29515 11C9.29515 9.93945 9.90925 9.14896 10.6736 9.14896C11.3247 9.14896 11.6383 9.63676 11.6383 10.2226C11.6383 10.8759 11.2224 11.8536 11.0068 12.7595C10.8282 13.5174 11.3879 14.1358 12.1348 14.1358C13.4893 14.1358 14.5303 12.7073 14.5303 10.645C14.5303 8.82013 13.2193 7.54402 11.3465 7.54402C9.17755 7.54402 7.9058 9.17074 7.9058 10.8519C7.9058 11.5074 8.1584 12.2086 8.47199 12.5919C8.53514 12.6681 8.54385 12.7334 8.52425 12.8096C8.46546 13.0513 8.33697 13.5674 8.31302 13.6741C8.28035 13.8135 8.20196 13.844 8.05823 13.7765C7.10659 13.3344 6.51209 11.9407 6.51209 10.8236C6.51209 8.41944 8.25858 6.21129 11.549 6.21129C14.1927 6.21129 16.2484 8.09497 16.2484 10.6124C16.2484 13.243 14.5934 15.3575 12.2938 15.3575C11.5207 15.3575 10.7956 14.9568 10.5473 14.4821C10.5473 14.4821 10.1662 15.9367 10.0726 16.2939C9.90054 16.9559 9.43669 17.7856 9.12529 18.293C9.83738 18.5129 10.5952 18.6327 11.3813 18.6327C15.5908 18.6327 19.0032 15.2203 19.0032 11.0109C19.0032 6.80144 15.5908 3.38904 11.3813 3.38904Z"
                                fill="var(--color-white)" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__links">
                <!-- ¿NECESITAS AYUDA? -->
                <div class="expandable expandable-full-desktop" aria-expanded="false">
                    <div class="expandable__action">
                        <div class="expandable__action--title">¿NECESITAS AYUDA?</div>
                        <div class="expandable__action--icon">
                            <svg viewBox="0 0 100 100">
                                <line x1="0" y1="48.5" x2="100" y2="48.5" stroke-width="6"></line>
                                <line class="expandable__action--icon--plus" x1="48.5" y1="0" x2="48.5" y2="100"
                                    stroke-width="6"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="expandable__content">
                        <div class="footer__links--list">
                            <a class="footer__links--list--item"> FAQS Y CONTACTO </a>
                            <a class="footer__links--list--item"> localiza tu pedido </a>
                            <a class="footer__links--list--item"> ticket electrónico</a>
                            <a class="footer__links--list--item">
                                conversión de ticket a factura
                            </a>
                            <a class="footer__links--list--item">
                                devolución con ticket regalo
                            </a>
                            <a class="footer__links--list--item">
                                devolución como invitado
                            </a>
                            <a class="footer__links--list--item">
                                preferencia de cookies
                            </a>
                        </div>
                    </div>
                </div>
                <!-- nosotros-->
                <div class="expandable expandable-full-desktop" aria-expanded="false">
                    <div class="expandable__action">
                        <div class="expandable__action--title">nosotros</div>
                        <div class="expandable__action--icon">
                            <svg viewBox="0 0 100 100">
                                <line x1="0" y1="48.5" x2="100" y2="48.5" stroke-width="6"></line>
                                <line class="expandable__action--icon--plus" x1="48.5" y1="0" x2="48.5" y2="100"
                                    stroke-width="6"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="expandable__content">
                        <div class="footer__links--list">
                            <a class="footer__links--list--item"> localiza una tienda </a>
                            <a class="footer__links--list--item"> empresa </a>
                            <a class="footer__links--list--item">
                                trabaja con la marquesa</a>
                        </div>
                    </div>
                </div>
                <!-- TE PUEDE INTERESAR -->
                <div class="expandable expandable-full-desktop" aria-expanded="false">
                    <div class="expandable__action">
                        <div class="expandable__action--title">TE PUEDE INTERESAR</div>
                        <div class="expandable__action--icon">
                            <svg viewBox="0 0 100 100">
                                <line x1="0" y1="48.5" x2="100" y2="48.5" stroke-width="6"></line>
                                <line class="expandable__action--icon--plus" x1="48.5" y1="0" x2="48.5" y2="100"
                                    stroke-width="6"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="expandable__content">
                        <div class="footer__links--list">
                            <a class="footer__links--list--item"> vestidos mujer </a>
                            <a class="footer__links--list--item"> cazadoras mujer </a>
                            <a class="footer__links--list--item"> trajes mujer</a>
                            <a class="footer__links--list--item">calzado mujer</a>
                            <a class="footer__links--list--item">pantalones mujer</a>
                        </div>
                    </div>
                </div>
                <!-- MÉTODOS DE PAGO -->
                <div class="expandable expandable-full-desktop" aria-expanded="false">
                    <div class="expandable__action">
                        <div class="expandable__action--title">MÉTODOS DE PAGO</div>
                        <div class="expandable__action--icon">
                            <svg viewBox="0 0 100 100">
                                <line x1="0" y1="48.5" x2="100" y2="48.5" stroke-width="6"></line>
                                <line class="expandable__action--icon--plus" x1="48.5" y1="0" x2="48.5" y2="100"
                                    stroke-width="6"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="expandable__content">
                        <div class="footer__links--list">
                            <div class="footer__links--list--info">
                                <img src="./assets/PayPal.svg" alt="" srcset="" />
                                <img src="./assets/Visa.svg" alt="" srcset="" />
                                <img src="./assets/Maestro.svg" alt="" srcset="" />
                                <img src="./assets/Venmo.svg" alt="" srcset="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- status bar -->
        <div class="status-bar">
            <div class="status-bar__links">
                <a href="">términos y condiciones de compra</a>
                <a href="">política de privacidad</a>
                <a href="">política de cookies</a>
            </div>
            <div>© 2023 la marquesa style</div>
        </div>
    </div>

    <!------------------------------------------------------->
    <!-- Down here goes all the left panels -->
    <!------------------------------------------------------->

    <!-- shopping cart by the left side of the screen -->
    <div class="panel" id="panel-shopping-cart" aria-expanded="false">
        <!-- panel background blur and gray -->
        <div class="panel__background"></div>

        <!-- panel main box -->
        <div class="panel__container panel__container--left">
            <!-- header -->
            <div class="panel__header">
                <!-- panel title -->
                <div class="panel__header--title">MI CESTA</div>
                <!-- panel close action -->
                <div class="panel__header--close">
                    cerrar
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.34167 14.2083L0 12.8666L5.36667 7.49996L0 2.13329L1.34167 0.791626L6.70833 6.15829L12.075 0.791626L13.4167 2.13329L8.05 7.49996L13.4167 12.8666L12.075 14.2083L6.70833 8.84163L1.34167 14.2083Z"
                            fill="var(--color-black)" />
                    </svg>
                </div>
            </div>

            <!-- content -->
            <div class="panel__content">
                <!-- cart content all the items to bay -->
                <div class="cart-content">
                    <!-- cart item -->
                    <div class="cart-content__item">
                        <picture class="picture">
                            <img src="./assets/image_3.jpg" alt="picture" />
                        </picture>
                        <div class="cart-content__item--info">
                            <div class="cart-content__item--info--text">
                                <div class="cart-content__item--info--text--name">
                                    VESTIDO MINI PRINT CRUZADO
                                </div>
                                <div class="cart-content__item--info--text--price">
                                    69,90€
                                </div>
                                <div class="cart-content__item--info--text--size">S</div>
                            </div>
                            <div class="cart-content__item--info--controls">
                                <div class="cart-content__item--info--controls--value">
                                    <div class="cart-content__item--info--controls--value--less">
                                        -
                                    </div>
                                    <div class="cart-content__item--info--controls--value--number">
                                        1
                                    </div>
                                    <div class="cart-content__item--info--controls--value--plus">
                                        +
                                    </div>
                                </div>

                                <div class="cart-content__item--info--controls--remove">
                                    eliminar
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- cart item -->
                    <div class="cart-content__item">
                        <picture class="picture">
                            <img src="./assets/image_4.jpg" alt="picture" />
                        </picture>
                        <div class="cart-content__item--info">
                            <div class="cart-content__item--info--text">
                                <div class="cart-content__item--info--text--name">
                                    VESTIDO MINI PRINT CRUZADO
                                </div>
                                <div class="cart-content__item--info--text--price">
                                    59,90€
                                </div>
                                <div class="cart-content__item--info--text--size">m</div>
                            </div>
                            <div class="cart-content__item--info--controls">
                                <div class="cart-content__item--info--controls--value">
                                    <div class="cart-content__item--info--controls--value--less">
                                        -
                                    </div>
                                    <div class="cart-content__item--info--controls--value--number">
                                        1
                                    </div>
                                    <div class="cart-content__item--info--controls--value--plus">
                                        +
                                    </div>
                                </div>

                                <div class="cart-content__item--info--controls--remove">
                                    eliminar
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- cart item -->
                    <div class="cart-content__item">
                        <picture class="picture">
                            <img src="./assets/image_5.jpg" alt="picture" />
                        </picture>
                        <div class="cart-content__item--info">
                            <div class="cart-content__item--info--text">
                                <div class="cart-content__item--info--text--name">
                                    VESTIDO MINI PRINT CRUZADO
                                </div>
                                <div class="cart-content__item--info--text--price">
                                    61,95€
                                </div>
                                <div class="cart-content__item--info--text--size">m</div>
                            </div>
                            <div class="cart-content__item--info--controls">
                                <div class="cart-content__item--info--controls--value">
                                    <div class="cart-content__item--info--controls--value--less">
                                        -
                                    </div>
                                    <div class="cart-content__item--info--controls--value--number">
                                        1
                                    </div>
                                    <div class="cart-content__item--info--controls--value--plus">
                                        +
                                    </div>
                                </div>

                                <div class="cart-content__item--info--controls--remove">
                                    eliminar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div class="panel__footer">
                <button class="button button-big button-fill">
                    FINALIZAR COMPRA - 191,75€
                </button>
            </div>
        </div>
    </div>

    <!-- script -->

    {{ 'jquery.js' | asset_url | script_tag }}
    {{ 'jquery-migrate.js' | asset_url | script_tag }}
    {{ 'slick.js' | asset_url | script_tag }}
    {{ 'script.js' | asset_url | script_tag }}
</body>

</html>